/*------------------------------------*\
  #PROSE
\*------------------------------------*/

.prose {

    // Overwrite default flow logic to overcome vue wrapping
    > * {
        margin-top: var(--flow-space);
    }

    &:first-child {
        > *:first-child {
            margin-top: 0;
        }
    }

    // prevent overflows
    word-break: break-word;

    h1,
    h2 {
        @include text-style('600');
        --flow-space: var(--size-800);
    }

    h1,
    h2,
    h3 {
        & + p {
            --flow-space: var(--size-600);
        }
    }

    ul {
        list-style: disc outside;
    }

    hr {
        background: none;
        border: none;
        --flow-space: var(--size-1000);
    }

    a {
        text-decoration: underline;
    }
}