blockquote {
    border: 1px solid var(--border-default);
    border-radius: var(--radius-md);
    padding: 1rem 0.75rem;

    &:before {
        content: "â—";
        display: inline-block;
        position: relative;
    }

    & > p {
        display: inline;
    }
}