---
// Import content function
import { getAllPagesWithSlugs, getPageBySlug } from '../../lib/api';
// Component Imports
import BaseLayout from '../../layouts/BaseLayout.astro';

// Component Script:
import Header from '../../components/UI/Header.vue';
import LearnNav from '../../components/Learn/LearnNav.vue';
import LearnAbout from '../../components/Learn/LearnAbout.vue';
import ContentModules from '../../components/Learn/ContentModules.vue';

// generate URLs for pages using the slug
export async function getStaticPaths() {
    const pagesWithSlugs = await getAllPagesWithSlugs();
    return pagesWithSlugs.data.map(({ attributes }) => {
        return {
            params: { slug: attributes.slug },
        };
    });
}


const { slug } = Astro.request.params;
const getPage = await getPageBySlug(slug);
const page = getPage.data[0].attributes;

const getPages = await getAllPagesWithSlugs();
const pages    = getPages.data;

let title = page.title;
let bodyClass = 'bg-gold';
---


<BaseLayout title={ title } bodyClass={bodyClass}>

    <div slot="header">
        <Header link-to="/" link-name="start to compute" header-class="border-b"/>
    </div>

    <div slot="subnav">
        <LearnNav pages={ pages }/>
    </div>

    <div slot="main">

        <!-- //todo: Styles hier klären -->
        <!-- <section class="flow-600 prose measure px-body"> -->
        <ContentModules content={ page.content } client:load/>

        <LearnAbout />

    </div>

</BaseLayout>
