---
// Import content function
import { getAllPagesWithSlugs, getPageBySlug } from '../../lib/api';
// Component Imports
import BaseLayout from '../../layouts/BaseLayout.astro';

// Component Script:
import Header from '../../components/UI/Header.vue';
import Footer from '../../components/UI/Footer.vue';
import ButtonNavigation from '../../components/UI/ButtonNavigation.vue';
import LearnNav from '../../components/Learn/LearnNav.vue';
import ContentModules from '../../components/Learn/ContentModules.vue';

// generate URLs for pages using the slug
export async function getStaticPaths() {
    const pagesWithSlugs = await getAllPagesWithSlugs();
    return pagesWithSlugs.data.map(({ attributes }) => {
        return {
            params: { slug: attributes.slug },
        };
    });
}

const { slug } = Astro.request.params;
const getPage = await getPageBySlug(slug);
const page = getPage.data[0];

const getPages = await getAllPagesWithSlugs();
const allPages    = getPages.data;

// console.log('getPages', getPages.data);


const nextPage = () => {
    const found = allPages.findIndex(item => item.attributes.title == page.attributes.title);

    if(found === allPages.length-1){
        return {...allPages[0], label: 'Revise'};
    }

    return {...allPages[found+1], label: 'Learn More'};
}

const pages = [
    {attributes:{slug: '/computer', title: 'Start Computer'}},
    nextPage()
]

let title = page.title;
let bodyClass = 'bg-gold';
---


<BaseLayout title={ title } bodyClass={bodyClass}>

    <Header slot="header" link-to="/computer" link-name="start to compute" header-class="border-b"/>

    <div slot="subnav">

        <LearnNav pages={ allPages } client:only/>

    </div>

    <div slot="main">

        <ContentModules content={ page.attributes.content } client:load/>

    </div>

    <div slot="crosslink" class="mx-body mt-800 pt-700 border-t">

        <ButtonNavigation pages={ pages } style={ 'outline' } learn client:load/>
    
    </div>

    <Footer slot="footer" footer-class="pb-800"/>

</BaseLayout>
