---

import { getAllPagesWithSlugs } from '../../lib/api';
// Component Imports
import BaseLayout from '../../layouts/BaseLayout.astro';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
import LearnNav from '../../components/UI/LearnNav.vue'
import Header from '../../components/UI/Header.vue'

let title = 'Learn';
const getPages = await getAllPagesWithSlugs();
const pages    = getPages.data; 
---



<BaseLayout title={ title }>

    <div slot="header">
        <Header link-to="/" link-name="home"/>
    </div>

    <div slot="subnav">
        <LearnNav pages={ pages }/>
    </div>

    <div slot="main">
        <section class="flow-200 px-body">
            <h1 class="p-box rounded-sm smoked-glass self-start">
                Let’s learn
            </h1>
        </section>
    </div>

</BaseLayout>
