///*----------------------------------*\
//  #ANIMATIONS
//\*----------------------------------*/

@keyframes pulse {
    0%, 100% {
        opacity: var(--pulse-start, 0);
    }
    50% {
        opacity: var(--pulse-end, 1);
    }
}

@keyframes hide {
    to {
        opacity: 0;
    }
}

@keyframes show-rating-item {
    from {
        opacity: 0;
        width: var(--start-w, 0px);
    }
    to {
        opacity: 1;
        width: var(--end-w, 100%);
    }
}

@keyframes animate-mesh {
    0%, 100% {
        transform: scale(2);
    }
    50% {
        transform: scale(4) rotate(360deg);
    }
}

@keyframes animate-step {
    from {
        margin-left: 0;
        visibility: initial;
        transform: translate3d(var(--animation-offset, 2rem), 0, 0);
        opacity: 0;
    }
    to {
        margin-left: 0;
        visibility: initial;
    }
}

@keyframes zoom {
    to {
        transform: scale(var(--zoom-in, 1.2));
    }
}
