///*----------------------------------*\
//  #ANIMATIONS
//\*----------------------------------*/

@keyframes pulse {
    0%, 100% {
        opacity: var(--pulse-start, 0);
    }
    50% {
        opacity: var(--pulse-end, 1);
    }
}

@keyframes hide {
    to {
        opacity: 0;
    }
}

