---
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <title>{ title }</title>
	    <link rel="stylesheet" type="text/css"  href={Astro.resolve('../styles/main.scss')} />
	</head>

	<body>
        <div class="content-box has-footer">
            <header>
                <nav class="content-box__header- text-style-200 px-body py-200">
                    <ul class="flex justify-between">
                        <li>TIMBER COMPUTER</li>
                        <li>LEARN →</li>
                    </ul>
                </nav>

                <slot name="subnav"/>
                <!-- <h1>TIMBER COMPUTER</h1> -->
            </header>
            <main>
                <slot name="main"/>
            </main>
        </div>

        <slot name="footer" />

        <!-- <footer> -->
	</body>
</html>