---
import Meta from './Meta.astro';
import '../styles/main.scss'; // We have to import main.scss for dev mode -> HMR support
const { title, bodyClass = '', description, image } = Astro.props;
---

<html lang="en">
	<head>
        <Meta title={ title } description={ description } image={ image } />
        <style lang="scss" global>
            @import '../styles/main.scss';
        </style>
	</head>

	<body class={bodyClass}>

        <header class="text-style-200 uppercase">
            <slot name="header" />

            <slot name="subnav"/>
        </header>

        <main>
            <slot name="main" />

            <slot name="crosslink" />
        </main>

        <footer>
            <slot name="footer" />
        </footer>

	</body>
</html>