---
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <title>{ title }</title>
	    <link rel="stylesheet" type="text/css"  href={Astro.resolve('../styles/main.scss')} />
	</head>

	<body>
        <header class="text-style-200 uppercase">
            <nav class="text-alternate px-body min-h-header flex justify-between items-center">
                <a href="/">Timber Computer</a>
                <a href="/learn">Learn →</a>
            </nav>

            <slot name="subnav"/>
        </header>
        <main>
            <slot name="main"/>
        </main>
	</body>
</html>