---

// Import content function
import { getBuildingByName } from '@lib/api';
import { getSingleTypeCompute } from '@lib/api';

// BaseLayout Import
import BaseLayout from '@layouts/BaseLayout.astro';

// Component Import
import ButtonNavigation from '@components/UI/ButtonNavigation.vue';
import Header from '@components/UI/Header.vue';
import TextBox from '@components/UI/TextBox.vue';
import MediaBox from '@components/UI/MediaBox.vue';

import ComputerNav from '@components/Computer/ComputerNav.vue';


const getComputeSingle  = await getSingleTypeCompute();
const compute           = getComputeSingle.data.attributes;

const pages = [
    {attributes: {slug: '/computer', title: 'Go to computer'}},
    {attributes: {slug: '/learn/background', title: 'Go to learn'}}
];

---

<BaseLayout title={ compute.title }>

    <Header slot="header" link-to="/learn/background" link-name="learn" header-class="text-alternate"/>

    <div slot="main" class="flex flex-col flex-1 px-body h-full">

        <TextBox heading={ '404' } content={ 'There is nothing here...' }/>

        <div class="mt-auto pb-body">
            <ButtonNavigation pages={ pages } button-style={ 'btn--smoked' } computer />
        </div>

        <MediaBox image={ compute.backgroundImage } sizes={'(orientation: portrait) 150vw, 100vw'} boxClass="media-box--background"/>
    </div>

</BaseLayout>
