---
// Import content function
import { getBuildingByName, getAllPagesWithSlugs } from '../lib/api';
// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro';


// You can import components from any supported Framework here!
// import Index from './index.vue';
import Header from '../components/UI/Header.vue'

import ComputerNav from '../components/Computer/ComputerNav.vue'
import ResultsGraph from '../components/Computer/ResultsGraph.vue';
import Computer from '../components/Computer/Computer.vue';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.

const title    = "Computer";
const buildingType = "Typenhaus";
const getBuilding  = await getBuildingByName( buildingType );
const building     = getBuilding.data[0].attributes;

const getPages = await getAllPagesWithSlugs();

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---



<BaseLayout title={ title }>

    <Header slot="header" slot="header" link-to={'/learn/' + getPages.data[0].attributes.slug} link-name="learn" header-class="text-alternate"/>

    <div slot="subnav">
        <ComputerNav building={ building } client:only/>
    </div>

    <div slot="main" class="flex flex-col flex-1 px-body h-full">
        <h1 class="sr-only">
            Timber Computer
        </h1>
        <Computer building={ building } client:only/>
        <ResultsGraph client:only/>
    </div>

</BaseLayout>
