---

// Import content function
import { getBuildingByName, getAllPagesWithSlugs } from '@lib/api';

// BaseLayout Import
import BaseLayout from '@layouts/BaseLayout.astro';


// Component Import
import Header from '@components/UI/Header.vue';

import ComputerNav from '@components/Computer/ComputerNav.vue';
import ResultsGraph from '@components/Computer/ResultsGraph.vue';
import Computer from '@components/Computer/Computer.vue';


const title    = "Computer";
const buildingType = "Typenhaus";
const getBuilding  = await getBuildingByName( buildingType );
const building     = getBuilding.data[0].attributes;

const getPages = await getAllPagesWithSlugs();

---

<BaseLayout title={ title }>

    <Header slot="header" slot="header" link-to={'/learn/' + getPages.data[0].attributes.slug} link-name="learn" header-class="text-alternate"/>

    <div slot="subnav">
        <ComputerNav building={ building } client:idle/>
    </div>

    <div slot="main" class="flex flex-col flex-1 px-body h-full">
        <h1 class="sr-only">
            Timber Computer
        </h1>
        <Computer building={ building } client:only/>
        <ResultsGraph computer client:only/>
    </div>

</BaseLayout>
