---

// Import content function
import { getBuildingByName } from '@lib/api';
import { getSingleTypeCompute, getAllPagesWithSlugs } from '@lib/api';

// BaseLayout Import
import BaseLayout from '@layouts/BaseLayout.astro';

// Component Import
import ButtonNavigation from '@components/UI/ButtonNavigation.vue';
import Header from '@components/UI/Header.vue';
import TextBox from '@components/UI/TextBox.vue';
import MediaBox from '@components/UI/MediaBox.vue';

import ComputerNav from '@components/Computer/ComputerNav.vue';

const buildingType = "Typenhaus";
const getBuilding  = await getBuildingByName( buildingType );
const building     = getBuilding.data[0].attributes;

const getComputeSingle  = await getSingleTypeCompute();
const compute           = getComputeSingle.data.attributes;

const getPages = await getAllPagesWithSlugs();

const pages = [
    {attributes: {slug: '/computer', title: 'Start'}}
];

---

<BaseLayout title={ compute.title }>

    <Header slot="header" link-to={'/learn/' + getPages.data[0].attributes.slug} link-name="learn" header-class="text-alternate"/>

    <div slot="main" class="flex flex-col flex-1 px-body h-full">
        <TextBox heading={ compute.title } content={ compute.intro }/>

        <div class="mt-auto pb-body">
            <!-- TO DO: add fields for button to single type? -->
            <ButtonNavigation pages={ pages } button-style={ 'btn--smoked' } computer />
        </div>

        <MediaBox image={ compute.backgroundImage } sizes={'(orientation: portrait) 150vw, 100vw'}  boxClass="media-box--background" imgClass="animate-zoom"/>
    </div>

</BaseLayout>
