---
// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro';


// You can import components from any supported Framework here!
// import Index from './index.vue';
import SubNav from '../components/SubNav.vue'

import LiveGraph from '../components/LiveGraph.vue';
import BuildingComponents from '../components/BuildingComponents.vue';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'My Astro Site';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---


<!-- Use defined layout component like in vue -->
<BaseLayout title={ title }>

    <div slot="subnav">
        <SubNav/>
    </div>

    <div slot="main" class="flex flex-col flex-1 px-body h-full">
        <h1 class="sr-only">
            Timber Computer
        </h1>

        <BuildingComponents/>
        <LiveGraph/>
    </div>

</BaseLayout>
