---
// Import content function
import { getSingleTypeHome } from '../lib/api';

// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro';


// You can import components from any supported Framework here!
// import Index from './index.vue';
import ButtonNavigation from '../components/UI/ButtonNavigation.vue'
import Header from '../components/UI/Header.vue'
import Footer from '../components/UI/Footer.vue'
import TextBox from '../components/UI/TextBox.vue';
import MediaBox from '../components/UI/MediaBox.vue';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Timber Computer';
const getHome  = await getSingleTypeHome();
const home     = getHome.data.attributes;

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout title={ title }>

    <Header slot="header" link-to="/learn" link-name="learn" header-class="text-alternate"/>

    <div slot="main" class="flex flex-col flex-1 px-body h-full">
        <TextBox heading={ home.title } content={ home.intro } boxClass="text-style-600"/>

        <div class="mt-auto pb-body">
            <ButtonNavigation button-l="Compute" button-r="Learn" href-l="/compute" href-r="/learn"/>
        </div>

        <MediaBox image={ home.backgroundImage } boxClass="media-box--background"/>
    </div>

    <Footer slot="footer" simple-footer/>

</BaseLayout>
