---

// Import content function
import { getSingleTypeHome, getAllPagesWithSlugs } from '@lib/api';

// BaseLayout Import
import BaseLayout from '@layouts/BaseLayout.astro';

// Component Import
import ButtonNavigation from '@components/UI/ButtonNavigation.vue'
import Header from '@components/UI/Header.vue'
import Footer from '@components/UI/Footer.vue'
import TextBox from '@components/UI/TextBox.vue';
import MediaBox from '@components/UI/MediaBox.vue';


let title = 'Timber Computer';
const getHome  = await getSingleTypeHome();
const home     = getHome.data.attributes;

const getPages = await getAllPagesWithSlugs();

const pages = [
    {attributes: {slug: '/compute', title: 'Compute'}},
    {attributes: {slug: '/learn/background', title: 'Learn'}}
];

---

<BaseLayout title={ title } description={ home.intro } image={ home.backgroundImage.data.attributes.formats.large.url }>

    <Header slot="header" link-to={'/learn/' + getPages.data[0].attributes.slug} link-name="learn" header-class="text-alternate"/>

    <div slot="main" class="flex flex-col flex-1 px-body h-full">
        <TextBox heading={ home.title } content={ home.intro } boxClass="md:text-style-600"/>

        <div class="mt-auto pb-body">
            <nav class="cluster cluster--y-gap | pt-300">
                <ButtonNavigation pages={ pages } button-style={ 'btn--smoked' } computer />
            </nav>
        </div>

        <MediaBox image={ home.backgroundImage } sizes={'(orientation: portrait) 150vw, 100vw'} boxClass="media-box--background" imgClass="animate-zoom"/>
    </div>

    <Footer slot="footer" simple-footer/>

</BaseLayout>
