/*------------------------------------*\
  #glass
\*------------------------------------*/

// Utilities to add a glass effect
.smoked-glass {
    @include responsive-selector(true, md lg) {
        @include smoked-glass;
    }
}

.clear-glass {
    @include responsive-selector(true, md lg) {
        @include clear-glass;
    }
}

.no-glass {
    @include responsive-selector(true, md lg) {
        background: none;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
    }
}