.configurator {
    height: calc(100vh - var(--size-900) - var(--size-200) - var(--header-h)); // TODO: das geht noch besser (ohne vh)
    margin-bottom: var(--size-900);
    width: 45%; // TODO: Wert ermitteln / entscheiden
    min-width: 32rem;
}

.configurator__components {
    
}

.configurator__nav {
    max-width: 14rem;
}

