.computer-component {
    &:not(.is-active){
        width: 0;
        overflow: hidden;
    }
}

.computer-components__head-row {
    z-index: map-get($z-index, comp-header);
}

.computer-components__head-row,
.computer-components__comp-row { // TODO: in cluster element umbauen?
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
}

.computer-components__label{
    input[type=radio] { 
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

    input[type=radio]:checked + .computer-components__comp-row{
        border: 1px solid var(--border-default);
        border-radius: var(--radius-sm);
    }
}

.computer-components__comp-row {
    border: 1px solid transparent;
    cursor:pointer;

    & > p {
        display: flex;
        align-items: center;
        justify-content: center;

        &.high {
            border: 1px solid green;
            border-radius: 50%;
            color:green;
        }

        &.medium {
            border: 1px solid yellow;
            border-radius: 50%;
            color:yellow;
        }

        &.low {
            border: 1px solid red;
            border-radius: 50%;
            color:red;
        }
    }
}