.computer {
    flex-grow: 1; // stretch to full height
}

.computer__components {
    flex-grow: 1; // stretch to full height
    max-height: calc(100vh - var(--size-200) - var(--size-900) - 3rem - var(--header-h));
}

.computer__nav {
    width: calc(var(--computer-item-w) + var(--cluster-gap));

    button:disabled {
        pointer-events: none;
    }
}

