.computer-component {
    flex-shrink: 1;

    &:not(.is-active) {
        width: 0;
        overflow: hidden;
        display: none;
    }
}

.computer-component__header,
.computer-component__item-content { // TODO: in cluster element umbauen?
    // display: grid;
    // grid-template-columns: repeat(5, 1fr);
    // grid-template-rows: 1fr;
}

.computer-component__table-header {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    white-space: nowrap;
    min-height: 2.6rem;
}

.computer-component__table-title {
    width: var(--computer-item-w);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.computer-component__table-info,
.computer-component__item-info {
    width: calc(var(--computer-item-expanded-w) - var(--computer-item-w));

    .is-collapsed & {
        display: none;
    }
}

.computer-component__table-info {
    margin-bottom: calc(var(--item-p) * -1);
}

.computer-component__table-body {

}

.computer-component__item {
    input[type=radio] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.computer-component__item-head {
    width: calc(var(--computer-item-w) - 2px); // remove border from calced width

    img {
        max-height: 4rem;
        width: auto;
    }
}

.computer-component__item-content {
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: var(--radius-sm);

    input[type=radio]:checked ~ & {
        border: 1px solid var(--border-default);
    }
}