/*------------------------------------*\
  #BUTTONS
\*------------------------------------*/

// Default button
//
// 1. Allow us to style box model properties.
// 2. Line different sized buttons up a little nicer.
// 3. Make buttons inherit font styles (often necessary when styling `input`s as buttons).
// 4. Reset/normalize some styles.
// 5. Force all button-styled elements to appear clickable.
// 6. Remove default appearance in some native occasions
// 7. Make buttons inherit font colors (often necessary when styling `a`s as buttons).
//

// * Big Round Buttons

$_big-btn-h: 7rem;
$_big-btn-p: 1rem;

.big-btn {
    height: 14rem;
    display: flex; // [1]
    justify-content: center; // [2]
    font: inherit; // [3]
    align-items: center; // [4]
    cursor: pointer; // [5]
    color: inherit; // [6]
    outline: none; // [4]
    border: none; // [4]
    background: none; // [4]
    appearance: none; // [7]
    white-space: nowrap; // [8]

    @include text-style('600');
    @include smoked-glass;
    line-height: $_big-btn-h;
    border-radius: $_big-btn-h;
}

// * Small boxy Buttons for component navigation

.sml-btn {
    padding: var(--body-p);
    display: flex; // [1]
    justify-content: center; // [2]
    font: inherit; // [3]
    align-items: center; // [4]
    cursor: pointer; // [5]
    color: inherit; // [6]
    outline: none; // [4]
    border: none; // [4]
    background: none; // [4]
    appearance: none; // [7]
    white-space: nowrap; // [8]

    @include text-style('200');
    @include smoked-glass;
    border-radius: var(--border-radius-sm);
}
