/*------------------------------------*\
  #badge
\*------------------------------------*/

.badge {
    display: inline-block;
    transform: scale(1.4);
    padding: 0.25rem;

    &:after {
        content: "â—";
    }
}

.badge--high {
    color: var(--bg-green);
}

.badge--medium {
    color: var(--bg-orange);
}

.badge--low {
    color: var(--bg-red);
}