/*------------------------------------*\
  #BUTTONS
\*------------------------------------*/

// Default button
//
// 1. Allow us to style box model properties.
// 2. Line different sized buttons up a little nicer.
// 3. Make buttons inherit font styles (often necessary when styling `input`s as buttons).
// 4. Reset/normalize some styles.
// 5. Force all button-styled elements to appear clickable.
// 6. Remove default appearance in some native occasions
// 7. Make buttons inherit font colors (often necessary when styling `a`s as buttons).
//


// * Basic Button Setup

.btn {
    display: flex; // [1]
    justify-content: center; // [2]
    font: inherit; // [3]
    align-items: center; // [4]
    cursor: pointer; // [5]
    color: inherit; // [6]
    outline: none; // [4]
    border: none; // [4]
    background: none; // [4]
    appearance: none; // [7]
    white-space: nowrap; // [8]
    @include smoked-glass;
    padding: 0.4rem;
}


// * Big Round Buttons

.btn--xl {
    @include text-style('600');
    height: var(--btn-xl-h);
    border-radius: calc(var(--btn-xl-h) / 2);
}

.big-button-container {
    display: grid;                     // fixme: build as cluster?
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: var(--column-gap, 1rem); // same as cluster gap
}


// * Small boxy Buttons for component navigation

.btn--md {
    padding: var(--body-p);
    @include text-style('200');
    @include smoked-glass;
    border-radius: var(--radius-sm);

    &:focus-visible,
    &:active{
        outline: none;
        box-shadow: 0 0 0 1px var(--border-default);
    }
}
