.building-components {
    height: calc(100vh - var(--size-900) - var(--size-200) - var(--header-h)); // TODO: das geht noch besser (ohne vh)
    margin-bottom: var(--size-900);
    max-height: 80rem;
    min-width: 40rem;
    width: 60%; // TODO: Wert ermitteln / entscheiden
}

.building-components__head-row,
.building-components__comp-row { // TODO: in cluster element umbauen? + Naming klären
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
}

.building-components__comp-row {
    cursor:pointer;

    &.is-chosen {
        border: 1px solid var(--border-default);
        border-radius: var(--radius-sm);
    }

    & > p {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.building-components__buttons {
    width: 14rem;
}